.header {
    background: radial-gradient(at top, #184904, #348434);
    opacity: 0.90;
    border-radius: 5px;
    grid-area: h;
    margin-bottom: 1px;
}

.header img {
    margin: 15px;
    width: 40px;
}