.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    border-right: 2px solid white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.dialog {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-weight: normal;
    text-transform: none;
    margin: 15px;
}

.dialog img {
    border-radius: 50%;
    width: 50px;
}

.dialog a {
    text-decoration: none;
    color: black;
    margin: auto 0;
    padding: 0 0 0 10px;
}

.messages {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

.message {
    font-weight: normal;
    text-transform: none;
    margin: 15px;
}

.messageRow{
    display: grid;
    grid-template-columns: 2fr 2fr;
}