.app-wrapper {
    background: radial-gradient(at top, rgba(24, 73, 4, 0.37), rgba(52, 132, 52, 0.2));
    display: grid;
    grid-template-areas:
   "h h"
   "n c";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px; */
}

.app-wrapper-content {
    background-color: aquamarine;
    grid-area: c;
}



