@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуление*/
body {
  font-family: "Lato";
}

.wrapper {
  overflow: hidden;
  max-height: 100vh;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list li {
  margin-top: 35px;
  padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #4d4959;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.main-screen {
  min-height: 100vh;
  background: url("../img/full_scrin.png") center/cover no-repeat fixed;
  flex: 1 0 100%;
}

.generation {
  padding: 120px 0;
  height: 469px;
  background-color: #f7f7f7;
}

.block {
  text-align: center;
  font-size: 18px;
}

.block__icon {
  margin: 0 0 33px 0;
}

.block__title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2.2px;
  color: #353738;
  margin-bottom: 20px;
}

.block__text {
  line-height: 34px;
  color: #848789;
}

.brands {
  height: 600px;
}

.brands__row {
  display: flex;
}

.brands__colum {
  flex: 0 1 33.333%;
}

.brands__colum-b {
  background: url("../img/sechen2/rectangle_1.jpg") center/cover no-repeat;
  flex: 0 1 66.667%;
}

.breands__item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.item {
  display: block;
  position: relative;
}

.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}

.brands__content:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text_j::after {
  content: '';
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #353738;
}

.brands__image {
  min-height: 200px;
  background: url("../img/sechen2/rectangle_2.jpg") center/cover no-repeat;
}
