.nav {
    background: radial-gradient(500% 70%, #184904, #348434);
    border-radius: 3px;
    opacity: 0.90;
    grid-area: n;
    margin-right: 1px;
}

.item {
    display: block;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
}

a.active {
    color: gold;
}

.setting {
    margin-top: 100px;
}
.friendsOnline {
    font-size: 30px;
    color: white;
    margin: 50px 20px 20px 20px;
}
.friends {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 30px;
}