.nav {
    background: radial-gradient(500% 70%, #184904, #348434);
    border-radius: 3px;
    opacity: 0.90;
    grid-area: n;
    margin-right: 1px;
}

.item {
    display: block;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
}

a.active {
    color: gold;
}

.setting {
    margin-top: 100px;
}

.friends {
    margin: 20px;
    color: white;
    font-size: 30px;
}