.nav {
    background-color: darkgreen;
    grid-area: n;
    margin-right: 5px;
}

.item {
    display: block;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px;
}

a.active {
    color: gold;
}