@import "nullstyle.scss";
/*Обнуление*/

//==============Подключение ШРИФТОВ========
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
//=========================================

//==============Шрифт по умолчантю=========
body{
   font-family: "Lato";
}
//=========================================
//============ОБОЛОЧКА=====================
.wrapper{
   overflow: hidden;
   max-height: 100vh;
}
.page{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}
//=========================================

//===========Основная СЕТКА================
.container{
   max-width: 1130px;
   padding: 0 15px;
}
//=========================================
//============HEADER=======================
.header {
   position: absolute;
   width: 100%;
   z-index: 50;
   left: 0;
   top: 35px;
}
.header__row {
   display: flex;
   justify-content: center;
   align-items: center;
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.icon-menu {
}
.menu__body {
}
.menu__list {
   display: flex;
}
.menu__link {
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1.2;
   letter-spacing: 0.2px;
   color: #4d4959;
}
.header__logo {
   position: absolute;
   left: 50%;
   top: 0;
   transform: translate(-50%);

}
//=========================================
//=============MainScreen==================

.main-screen{
   min-height: 100vh;
   background: url("../img/full_scrin.png") center / cover no-repeat fixed;
   flex: 1 0 100%;
}
//=========================================